/*#title {
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 10%;
  font-size: 8vmax;
}

#desc {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
  font-size: 1.75vmax;
  margin-top: -2%;
  margin-bottom: 2%;
}*/

#weather-now-logo {
  margin-top: 5%;
  margin-bottom: 2%;
  width: 35vmax;
}