@import url('https://fonts.googleapis.com/css?family=Dosis:300|Josefin+Sans:300,400');

#main {
  overflow: auto;
  position: relative;
}

#title-container {
  text-align: center;
}

#form-field {
  text-align: center;
}

#result-label {
  margin-top: 5%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}